.message{
    display: flex;
    align-items: center;
    padding: 12px;
    color: black;
}

.message_info{
    margin-left: 15px;
}

.message_timestamp{
    color: grey;
    margin-left: 15px;
    font-size: x-small;
}